.custom-link {
  color: white !important;
  border-radius: 20px;
  padding: 6px 14px !important;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.custom-link:hover {
  background-color: white;
  color: #0d6efd !important;
}

.nav-link.active {
  background-color: white !important;
  color: #0d6efd !important;
  font-weight: 600;
}